<!DOCTYPE html>
<html>
<head>
    <title>Resultado del Evento</title>
</head>
<body>
    <h1>Evento Creado Exitosamente</h1>
    <p>Nombre: <%= nombre %></p>
    <p>Fecha: <%= fecha %></p>
    <p>Lugar: <%= lugar %></p>
</body>
</html>
